/*---------------- Instructions -----------------------------*/
/* Style each box differently, based on what API is being pulled; get creative
/* Once logic is sound and turns data I want, make app more visually appealing and creative; incorporate images, animations, sounds, etc
/* End my CSS design with at least one responsive media query; if needed
/*---------------- CSS Reset --------------------------------*/
html {
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
   }
   
   /* The Universal Selector */
   *, /* All elements*/
   *::before, /* All ::before pseudo-elements */
   *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
   }
   
   :root {
    font-size: 62.5%
   }



/*---- Edit To Make Changes To The Overall Body -------------*/
body {
   background-color: gray;
   font-family: monospace, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   margin: 0;
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: .75fr .5fr 3fr 3fr;
   grid-template-areas:
   "one one one"
   "two three three"
   "four four five"
   "six six six";
   }

/* Original layout I was happy with; backup just in case:
body {
   background-color: gray;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
   margin: 0;
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto auto auto auto;
   grid-template-areas:
   "#headlineText"
   "#messageText"
   "#randomDogAPIImage"
   "#genrenatorAPIText"
   "#buttonArea";
   }
   /*


   
/*------------------- IDs (#) -------------------------------*/
#creditText { /* h6 where I cite my sources */
   /* background-color: lightgray; original color */
   background-color: #ffd87d; /* the cap'n jazz color */
   /* border: 10px solid black; */
   margin-bottom: 0px;
   grid-area: one;
   align-items: flex-start;
   justify-content: flex-start;
   padding-left: 2rem;
   color: #f6b998; /* Cap darker pink */
   font-weight: bold;
}

#headlineText { /* h1 holding title string "is your dog emo."  */
   /* background-color: aqua; original color */
   background-color: #ffffff; /* the cap'n jazz color */
   /* border: 10px solid white; */
   margin-bottom: 0px;
   font-weight: bold;
   grid-area: two;
   /* default font-size is 2.5rem, due to h1 */
   align-items: flex-end;
   justify-content: flex-start;
   padding-left: 2rem;
}

#messageText { /* h2 holding message string, "yes" or "no" */
   /* background-color: burlywood; original color */
   background-color: #ffffff; /* the cap'n jazz color */
   /* border: 10px solid white; */
   margin-bottom: 0px;
   font-weight: bold;
   grid-area: three;
   /* default font-size is 2rem, due to h2 */
   align-items: flex-end;
   justify-content: flex-start;
   padding-left: 2rem;
}

#randomDogAPIImage { /* div holding dog images */
   /* background-color: crimson; original color */
   background-color: #ffd87d; /* the cap'n jazz color */
   /* border: 10px solid black; */
   padding: 2rem;
   grid-area: four;
} /* I need to adjust to make sure photos are as consistent as possible */

#emptyDogSquare { /* on a startup page, the blank square */
   /* border: 10px solid black; */
   width: "350px";
   height: "300px";
   opacity: 0;
   padding: 1.5rem;
   border: 10px solid white;
}

#dogImageHolder { /* the actual dog image Use to edit the border! */
   border: 10px solid white;
}

#genrenatorAPIText { /* div holding genre strings */
   /* background-color: darkolivegreen; original color */
   background-color: #ffffff; /* the cap'n jazz color */
   font-size: 8rem;
   border-bottom: 30px solid #ffd87d; /* the cap'n jazz color */
   font-weight: bold;
   word-wrap: break-word;
   grid-area: six;
   align-items: flex-start;
   justify-content: flex-start;
}

#buttonArea { /* div area holding the button */
   /* background-color: goldenrod; original color */
   background-color: #ffd87d; /* the cap'n jazz color */
   border-left: 10px solid #fdf2b0; /* the lighter cap'n jazz color */
   grid-area: five;
}

#activateButton { /* the actual button */
   /* background-color: firebrick; original color */
   /* background-color: #f79d85; the cap'n jazz pink color */
   background-color: white;
   font-size: 1.7rem;
   /* border: 10px solid #fdf2b0; tan Cap color */
   border: 10px solid #f79d85;
   color: black;
   font-weight: bold;
   /* padding: 1rem; */
}

#activateButton:hover {
   background-color: white;
   color: #9ec0e0; /* Cap blue */
}



/*----------------- Classes (.) -----------------------------*/
.flex-container { /* on everything except the button itself */
    display: flex;
    align-items: center;
    justify-content: center;
 } 



/*---------------- Media Queries ----------------------------*/



/*----------------- And Scene -------------------------------*/
/* and so it is

-bg

(project finished to initial completion and satisfaction: XXX) */